# ==============================================================================
# ARAPIAUTH — ALRI Sovereign Authentication Backend API
# Copyright (c) ALRIGROUP and its affiliates.
# ==============================================================================

[app]
id=arapiauth
name=ALRI Sovereign Identity API Backend

[server]
port=9650
bind=127.0.0.1
route_prefix=/arapi/auth

[arauth]
host=127.0.0.1
port=9550
ipc_port=9500
